.container {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.login {
  border: 1px solid gray;
  width: 25em;
  padding: 2.5em;
  text-align: center;
  margin: auto;
}
.h1 {
  font-size: 2.5em;
  font-weight: 800;
  margin: 0;
  font-family: 'The Nautigal', cursive;
}
.h2 {
  font-size: 1.3em;
  color: gray;
}

.lineUnit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}

.line {
  width: 7em;
  margin: 0;
  display: inline-block;
}

.btnLogInWithGoogle {
  width: 100%;
  height: 2.5em;
  border: none;
  background-color: white;
  font-size: 1em;
  color: rgb(37, 37, 124);
  cursor: pointer;
  font-weight: 600;
  transition: 200ms ease-in;
}

.btnLogInWithGoogle:hover {
  color: white;
  background-color: rgb(37, 37, 124);
}

.error {
  color: red;
  font-weight: 800;
}
.inputEmail,
.inputPassword {
  width: 100%;
  height: 2.5em;
  margin-bottom: 0.5em;
  border: 1px solid rgb(192, 188, 188);
  outline: none;
  padding: 5px;
}

.btnLogIn {
  background-color: rgb(97, 97, 226);
  color: white;
  width: 100%;
  height: 2.5em;
}

.btnLogIn.opacity {
  opacity: 50%;
}

.signup {
  border: 1px solid gray;
  width: 25em;
  padding: 2.5em;
  margin: auto;
  margin-top: 1em;
  text-align: center;
}

.btnSignUp {
  text-decoration: none;
}
