.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.container {
  display: flex;
}

.avatar {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  margin-right: 0.4em;
}

.username {
  font-weight: 800;
}

.posted {
  font-weight: 800;
}
